Please open a free student account on Quandl: https://www.quandl.com/

You will have to access the data on continuous Eurodollar futures that is free in the CHRIS database:

https://www.quandl.com/data/CHRIS-Wiki-Continuous-Futures/documentation/introduction

Once you register, the access token will be auto-generated for your use in Python. Here is how your Python code will look like:

import quandl
token = "your_token_provided_by_Quandl"

n = range(1,21)
nms = ["CHRIS/CME_ED"+str(i) for i in n]

dfs = [quandl.get(nm, authtoken=token) for nm in nms]

This code will return an array of pandas data frames.  Note, that everyone should get an account on Quandl, so you should all have different access keys.

After you access the data, construct a single data frame with all Settle prices: Settle_ED1, Settle_ED2, ....

Write a short report summarizing the overall data set, its size, quality and gaps.

In [1]:
import quandl
import pandas as pd
token = "_K8DXUaWrH48p_sTaP2y"
n = range(1,21)
nms = ["CHRIS/CME_ED"+str(i) for i in n]

dfs = [quandl.get(nm, authtoken=token) for nm in nms]

In [2]:
Settle_df = pd.DataFrame({})

In [3]:
for i in range(len(dfs)):
    name = 'Settle_ED' + str(i + 1)
    Settle_df[name] = dfs[i]["Settle"]
Settle_df

,Settle_ED1,Settle_ED2,Settle_ED3,Settle_ED4,Settle_ED5,Settle_ED6,Settle_ED7,Settle_ED8,Settle_ED9,Settle_ED10,Settle_ED11,Settle_ED12,Settle_ED13,Settle_ED14,Settle_ED15,Settle_ED16,Settle_ED17,Settle_ED18,Settle_ED19,Settle_ED20
Date,,,,,,,,,,,,,,,,,,,,
1982-02-01,83.740,83.690,83.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-02,83.880,83.850,83.850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-03,83.730,83.890,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-04,83.850,83.930,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-05,83.850,83.930,83.910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-08,83.580,83.730,83.730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-09,83.390,83.640,83.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-10,83.510,83.720,83.880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-11,83.430,83.700,83.970,84.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-12,83.360,83.640,83.980,84.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-16,83.290,83.660,84.100,84.450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-17,83.430,83.750,84.100,84.450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-18,84.040,84.260,84.500,84.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-19,84.000,84.250,84.480,84.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-22,84.990,85.080,85.230,85.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-23,85.130,85.060,85.100,85.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-24,85.390,85.180,85.150,85.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-25,85.200,85.060,85.190,85.270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-02-26,84.870,84.670,84.800,85.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-01,85.330,85.150,85.180,85.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-02,85.300,85.220,85.250,85.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-03,85.390,85.420,85.450,85.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-04,85.490,85.620,85.600,85.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-05,85.530,85.610,85.570,85.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-08,85.630,85.720,85.700,85.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-09,85.400,85.440,85.440,85.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-10,85.280,85.300,85.410,85.550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-11,84.990,85.010,85.150,85.350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-12,84.880,84.780,84.950,85.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982-03-15,84.880,84.740,84.870,85.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-23,97.685,97.615,97.490,97.390,97.290,97.225,97.165,97.145,97.130,97.120,97.090,97.090,97.085,97.080,97.060,97.050,97.045,97.040,97.025,97.020
2018-03-26,97.680,97.605,97.480,97.375,97.275,97.205,97.140,97.120,97.105,97.090,97.060,97.060,97.055,97.050,97.035,97.030,97.030,97.025,97.015,97.010
2018-03-27,97.730,97.655,97.540,97.440,97.345,97.285,97.220,97.200,97.185,97.170,97.140,97.140,97.135,97.125,97.105,97.100,97.095,97.090,97.075,97.070
2018-03-28,97.715,97.635,97.520,97.425,97.335,97.280,97.220,97.210,97.200,97.185,97.160,97.160,97.155,97.145,97.125,97.115,97.110,97.100,97.085,97.080
2018-03-29,97.700,97.625,97.505,97.410,97.325,97.275,97.215,97.205,97.200,97.190,97.165,97.170,97.165,97.160,97.140,97.135,97.130,97.125,97.115,97.110
2018-04-02,97.710,97.640,97.530,97.445,97.355,97.300,97.240,97.230,97.220,97.210,97.185,97.190,97.185,97.180,97.165,97.160,97.150,97.145,97.135,97.130
2018-04-03,97.685,97.605,97.495,97.405,97.310,97.250,97.190,97.180,97.170,97.160,97.135,97.140,97.140,97.135,97.120,97.115,97.110,97.105,97.090,97.085
2018-04-04,97.685,97.600,97.490,97.400,97.305,97.250,97.190,97.175,97.165,97.150,97.125,97.125,97.120,97.115,97.095,97.090,97.085,97.080,97.065,97.060
2018-04-05,97.675,97.590,97.470,97.375,97.275,97.215,97.150,97.135,97.125,97.110,97.085,97.085,97.080,97.075,97.055,97.050,97.040,97.035,97.020,97.015
2018-04-06,97.680,97.610,97.505,97.415,97.325,97.270,97.210,97.195,97.185,97.175,97.150,97.150,97.145,97.140,97.120,97.115,97.105,97.100,97.085,97.080
2018-04-09,97.695,97.615,97.505,97.415,97.320,97.265,97.205,97.190,97.180,97.165,97.140,97.140,97.140,97.135,97.115,97.110,97.100,97.095,97.080,97.075
2018-04-10,97.680,97.595,97.480,97.390,97.300,97.240,97.180,97.170,97.160,97.150,97.125,97.130,97.125,97.120,97.105,97.100,97.090,97.085,97.075,97.065
2018-04-11,97.660,97.580,97.470,97.380,97.290,97.235,97.180,97.170,97.160,97.150,97.125,97.125,97.125,97.120,97.100,97.095,97.090,97.085,97.070,97.065
2018-04-12,97.630,97.545,97.430,97.335,97.245,97.185,97.130,97.115,97.105,97.090,97.065,97.070,97.065,97.060,97.045,97.040,97.035,97.030,97.015,97.010
2018-04-13,97.620,97.530,97.410,97.310,97.220,97.165,97.110,97.095,97.090,97.085,97.065,97.070,97.070,97.070,97.055,97.050,97.045,97.045,97.035,97.030
2018-04-16,97.635,97.535,97.410,97.310,97.215,97.155,97.100,97.090,97.085,97.080,97.060,97.065,97.070,97.070,97.055,97.055,97.055,97.055,97.045,97.045
2018-04-17,97.635,97.535,97.410,97.310,97.220,97.160,97.110,97.100,97.090,97.085,97.070,97.075,97.080,97.080,97.070,97.070,97.070,97.070,97.060,97.060
2018-04-18,97.620,97.510,97.375,97.270,97.180,97.120,97.065,97.050,97.045,97.040,97.020,97.025,97.030,97.030,97.015,97.015,97.015,97.015,97.005,97.005
2018-04-19,97.615,97.505,97.375,97.270,97.175,97.110,97.050,97.030,97.020,97.010,96.990,96.990,96.990,96.985,96.970,96.970,96.965,96.960,96.950,96.945
2018-04-20,97.620,97.500,97.360,97.250,97.155,97.085,97.020,97.000,96.985,96.975,96.950,96.950,96.950,96.945,96.930,96.925,96.920,96.915,96.905,96.900
2018-04-23,97.630,97.500,97.355,97.245,97.145,97.070,97.005,96.980,96.965,96.955,96.930,96.930,96.930,96.925,96.910,96.905,96.900,96.895,96.885,96.880
2018-04-24,97.630,97.500,97.360,97.250,97.155,97.085,97.020,96.995,96.980,96.965,96.940,96.940,96.940,96.930,96.915,96.905,96.900,96.895,96.880,96.870
2018-04-25,97.605,97.480,97.340,97.230,97.130,97.060,96.995,96.970,96.950,96.935,96.910,96.905,96.900,96.890,96.870,96.860,96.855,96.845,96.830,96.820
2018-04-26,97.635,97.505,97.360,97.250,97.150,97.080,97.015,96.990,96.970,96.955,96.930,96.925,96.920,96.910,96.895,96.885,96.880,96.870,96.855,96.845
2018-04-27,97.640,97.515,97.370,97.260,97.160,97.095,97.035,97.010,96.990,96.975,96.950,96.950,96.945,96.940,96.925,96.920,96.915,96.910,96.895,96.890
2018-04-30,97.630,97.510,97.355,97.245,97.150,97.090,97.030,97.010,97.000,96.990,96.965,96.965,96.965,96.960,96.945,96.940,96.935,96.935,96.920,96.915
2018-05-01,97.635,97.505,97.345,97.230,97.125,97.055,96.995,96.975,96.960,96.950,96.925,96.930,96.930,96.925,96.910,96.910,96.905,96.900,96.890,96.885
2018-05-02,97.625,97.500,97.345,97.235,97.130,97.065,97.005,96.985,96.970,96.960,96.940,96.945,96.945,96.940,96.925,96.925,96.920,96.915,96.900,96.895
2018-05-03,97.630,97.510,97.360,97.255,97.155,97.090,97.035,97.015,97.000,96.990,96.970,96.970,96.965,96.960,96.945,96.940,96.935,96.930,96.915,96.910
2018-05-04,97.610,97.490,97.345,97.235,97.135,97.075,97.020,97.000,96.990,96.985,96.965,96.970,96.970,96.965,96.950,96.945,96.940,96.935,96.920,96.915

In [42]:
Settle_df.describe()

,Settle_ED1,Settle_ED2,Settle_ED3,Settle_ED4,Settle_ED5,Settle_ED6,Settle_ED7,Settle_ED8,Settle_ED9,Settle_ED10,Settle_ED11,Settle_ED12,Settle_ED13,Settle_ED14,Settle_ED15,Settle_ED16,Settle_ED17,Settle_ED18,Settle_ED19,Settle_ED20
count,9010.000000,9008.000000,9008.000000,8973.000000,8591.000000,8574.000000,8356.000000,8315.000000,7645.000000,7641.000000,7574.000000,7510.000000,6886.000000,6820.000000,6758.000000,6693.000000,5924.000000,5858.000000,5795.000000,5729.000000
mean,95.392472,95.263189,95.108844,94.973249,95.105494,94.939890,94.980138,94.868203,95.122984,95.005099,94.890290,94.782868,95.018704,94.925971,94.808053,94.717203,95.058662,94.982644,94.948334,94.894580
std,3.420502,3.475737,3.502251,3.469477,3.178593,3.170416,2.935718,2.884006,2.604536,2.572592,2.551129,2.528868,2.288377,2.268641,2.719474,2.707827,2.537735,2.536198,1.910141,1.896135
min,83.290000,83.640000,83.690000,83.970000,84.850000,84.550000,86.180000,86.870000,89.250000,89.160000,89.080000,89.000000,90.280000,90.270000,6.045000,5.870000,5.700000,5.565000,91.310000,91.260000
25%,93.320000,93.180000,92.980000,92.810000,93.080000,92.910000,92.950000,92.830000,93.250000,93.180000,93.100000,93.001250,93.270000,93.200000,93.145000,93.090000,93.450000,93.370000,93.320000,93.255000
50%,94.995000,95.042500,95.045000,94.975000,95.085000,94.975000,94.910000,94.750000,94.905000,94.840000,94.745000,94.630000,94.867500,94.780000,94.697500,94.590000,94.920000,94.880000,94.850000,94.830000
75%,98.775000,98.685000,98.515000,98.375000,98.260000,98.030000,97.850000,97.590000,97.635000,97.435000,97.240000,97.058750,97.233750,97.085000,96.925000,96.790000,96.880000,96.760000,96.655000,96.570000
max,99.780000,99.770000,99.755000,99.750000,99.750000,99.740000,99.730000,99.680000,99.585000,99.465000,99.405000,99.325000,99.220000,99.110000,98.980000,98.845000,98.760000,98.705000,98.655000,98.605000

Mean prices of all depth prices are pretty smooth, but standard deviations has decreasing trend (in general) as depth becomes greater.

Also as depth increases, the size of dataset decreases.

In [4]:
Settle_df.to_csv("EuroDollar_Futures.csv")